.contact-page{
    position: absolute;
    top: 20%;
    left: 10%;
    // background: red;
    width: 80%;
    max-height: 80%;
    padding: 0;
    text-align: center;

    h1{
        color: #64ffda;
        font-size: 18px;
        margin: 0 0 30px 4px;
        font-weight: bold;
        font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
        line-height: 1.1;
    }

    h2{
        margin: 0;
        font-size: clamp(40px, 8vw, 80px);
        line-height: 1.1;
        font-weight: 600;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }

    p {
        margin: 20px 20%;

        
        font-size: 20px;
        color: #8892B0;
        font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    }

    a{
        color: #64ffda;
        background-color: transparent;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        padding: 1.25rem 1.75rem;
        border: 1px solid #64ffda;
        font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
        position: relative;
        top:5%;
        line-height: 1;
        white-space: nowrap;
        animation: fadeInAnimation 1s 1.8s backwards;
    
        &:hover{
            background-color:rgba(100,255,218,0.1);
        } 
    }
}